ATLAS_HTTP_BIND=127.0.0.1
ATLAS_HTTP_PORT=8080

# Required only with compose.https.yaml:
# ATLAS_HTTPS_BIND=0.0.0.0
# ATLAS_HTTPS_PORT=443
# ATLAS_EDGE_UID=101
# ATLAS_TLS_CERT_FILE=./secrets/atlas.crt
# ATLAS_TLS_KEY_FILE=./secrets/atlas.key
# ATLAS_HTPASSWD_FILE=./secrets/atlas.htpasswd

PROXMOX_USER=atlas@pve
PROXMOX_TOKEN_NAME=atlas-core
PROXMOX_TOKEN_VALUE=replace-me

HASS_TOKEN=replace-me

OPNSENSE_API_KEY=replace-me
OPNSENSE_API_SECRET=replace-me

FRIGATE_API_TOKEN=replace-me

QDRANT_API_KEY=replace-me

N8N_API_KEY=replace-me
